.old
.old/
.old/*
**/.old
**/.old/
**/.old/*

.ignore
.ignore/
.ignore/*
**/.ignore
**/.ignore/
**/.ignore/*

node_modules
node_modules/
node_modules/*
**/node_modules
**/node_modules/
**/node_modules/*
